---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GYbAdYfXeiBRGd0BeQ4DmjkN4gZ2wzcO&location=Poughkeepsie,NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Mar 2022 18:16:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Poughkeepsie,NY"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Poughkeepsie","adminArea5Type":"City","adminArea4":"New
        York County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040856","unknownInput":"","type":"s","latLng":{"lat":41.699322,"lng":-73.921694},"displayLatLng":{"lat":41.699322,"lng":-73.921694},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GYbAdYfXeiBRGd0BeQ4DmjkN4gZ2wzcO&type=map&size=225,160&locations=41.699322,-73.921694|marker-sm-50318A-1&scalebar=true&zoom=12&rand=210154730"}]}]}'
  recorded_at: Mon, 07 Mar 2022 18:16:27 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f0d6fd9e6bdce12fed2609a6ebd409b5&exclude=minutely,alerts&lat=41.699322&lon=-73.921694&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.6993,"lon":-73.9217,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1646676987,"sunrise":1646652062,"sunset":1646693560,"temp":54.77,"feels_like":53.28,"pressure":1002,"humidity":71,"dew_point":45.57,"uvi":2.22,"clouds":40,"visibility":10000,"wind_speed":0,"wind_deg":0,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1646676000,"temp":54.77,"feels_like":53.28,"pressure":1002,"humidity":71,"dew_point":45.57,"uvi":2.22,"clouds":40,"visibility":10000,"wind_speed":3.76,"wind_deg":235,"wind_gust":14.47,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.45},{"dt":1646679600,"temp":54.95,"feels_like":53.62,"pressure":1002,"humidity":74,"dew_point":46.83,"uvi":0.35,"clouds":52,"visibility":10000,"wind_speed":4.41,"wind_deg":247,"wind_gust":15.59,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.33,"rain":{"1h":0.65}},{"dt":1646683200,"temp":57.27,"feels_like":56.23,"pressure":1002,"humidity":75,"dew_point":49.42,"uvi":0.2,"clouds":64,"visibility":10000,"wind_speed":6.96,"wind_deg":231,"wind_gust":30.62,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.33},{"dt":1646686800,"temp":59.07,"feels_like":58.3,"pressure":1001,"humidity":77,"dew_point":51.87,"uvi":0.08,"clouds":76,"visibility":10000,"wind_speed":9.55,"wind_deg":237,"wind_gust":31.74,"weathe[...]
