---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&published_in=2010-2022&q=Trenton
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.111 TT 0 0.117"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 2215,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL10227904W",
                    "type": "work",
                    "seed": [
                        "/books/OL13296798M",
                        "/books/OL17728108M",
                        "/books/OL17787129M",
                        "/works/OL10227904W",
                        "/authors/OL4190451A"
                    ],
                    "title": "Nursing Care in Veterinary Practice",
                    "title_suggest": "Nursing Care in Veterinary Practice",
                    "has_fulltext": false,
                    "edition_count": 3,
                    "edition_key": [
                        "OL13296798M",
                        "OL17728108M",
                        "OL17787129M"
                    ],
                    "publish_date": [
                        "1993",
                        "May 1993"
                    ],
                    "publish_year": [
                        1993
                    ],
                    "first_publish_year": 1993,
                    "number_of_pages_median": 223,
                    "publish_place": [
                        "Trenton, N.J"
                    ],
                    "oclc": [
                        "28317758"
                    ],
                    "contributor": [
                        "Veterinary Learning Systems Co."
                    ],
                    "isbn": [
                        "9993465453",
                        "9789993465454"
                    ],
                    "last_modified_i": 1304544387,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Veterinary Learning Systems"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL4190451A"
                    ],
                    "author_name": [
                        "Trenton"
                    ],
                    "publisher_facet": [
                        "Veterinary Learning Systems"
                    ],
                    "_version_": 1715073822817779714,
                    "author_facet": [
                        "OL4190451A Trenton"
                    ]
                },
                {
                    "key": "/works/OL5890519W",
                    "type": "work",
                    "seed": [
                        "/books/OL5986101M",
                        "/books/OL23266696M",
                        "/works/OL5890519W",
                        "/subjects/juvenile_literature",
                        "/subjects/trenton_battle_of_trenton_n.j._1776",
                        "/authors/OL1452812A"
                    ],
                    "title": "Trenton",
                    "title_suggest": "Trenton",
                    "has_fulltext": false,
                    "edition_count": 2,
                    "edition_key": [
                        "OL5986101M",
                        "OL23266696M"
                    ],
                    "publish_date": [
                        "1966"
                    ],
                    "publish_year": [
                        1966
                    ],
                    "first_publish_year": 1966,
                    "number_of_pages_median": 47,
                    "lccn": [
                        "66015990"
                    ],
                    "publish_place": [
                        "Cleveland"
                    ],
                    "oclc": [
                        "2760165"
                    ],
                    "lcc": [
                        "E--0241.00000000.T7 D8"
                    ],
                    "ddc": [
                        "973.33"
                    ],
                    "last_modified_i": 1601799162,
                    "ebook_count_i": 0,
                    "publisher": [
                        "World",
                        "World Pub. Co."
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL1452812A"
                    ],
                    "author_name": [
                        "Mark Duggan"
                    ],
                    "subject": [
                        "Juvenile literature",
                        "Trenton, Battle of, Trenton, N.J., 1776"
                    ],
                    "publisher_facet": [
                        "World",
                        "World Pub. Co."
                    ],
                    "subject_facet": [
                        "Juvenile literature",
                        "Trenton, Battle of, Trenton, N.J., 1776"
                    ],
                    "_version_": 1715093979054211074,
                    "lcc_sort": "E--0241.00000000.T7 D8",
                    "author_facet": [
                        "OL1452812A Mark Duggan"
                    ],
                    "subject_key": [
                        "juvenile_literature",
                        "trenton_battle_of_trenton_n.j._1776"
                    ],
                    "ddc_sort": "973.33"
                },
                {
                    "key": "/works/OL6173600W",
                    "type": "work",
                    "seed": [
                        "/books/OL21944664M",
                        "/works/OL6173600W",
                        "/authors/OL1586258A"
                    ],
                    "title": "Trenton",
                    "title_suggest": "Trenton",
                    "has_fulltext": false,
                    "edition_count": 1,
        [...]
