---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=7&published_in=2010-2022&q=Pittsburgh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.184 TT 0 0.196"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 10014,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL3484237W",
                    "type": "work",
                    "seed": [
                        "/books/OL2557994M",
                        "/books/OL1094976M",
                        "/books/OL8117299M",
                        "/books/OL23686817M",
                        "/books/OL24094159M",
                        "/books/OL23908843M",
                        "/books/OL23397965M",
                        "/works/OL3484237W",
                        "/subjects/tours",
                        "/subjects/buildings_structures",
                        "/subjects/architecture",
                        "/subjects/description_and_travel",
                        "/subjects/historic_buildings",
                        "/subjects/guidebooks",
                        "/subjects/neighborhoods",
                        "/subjects/neighborhood",
                        "/subjects/pittsburgh_(pa.)",
                        "/subjects/guides",
                        "/subjects/circuits_touristiques",
                        "/subjects/constructions",
                        "/subjects/buildings",
                        "/subjects/place:pittsburgh_(pa.)",
                        "/subjects/place:pennsylvania",
                        "/subjects/place:pittsburgh",
                        "/subjects/place:pittsburgh_region_(pa.)",
                        "/authors/OL581389A"
                    ],
                    "title": "Pittsburgh",
                    "title_suggest": "Pittsburgh",
                    "subtitle": "a new portrait",
                    "has_fulltext": true,
                    "edition_count": 7,
                    "edition_key": [
                        "OL2557994M",
                        "OL1094976M",
                        "OL8117299M",
                        "OL23686817M",
                        "OL24094159M",
                        "OL23908843M",
                        "OL23397965M"
                    ],
                    "publish_date": [
                        "1986",
                        "May 1995",
                        "2009",
                        "1994"
                    ],
                    "publish_year": [
                        1986,
                        1995,
                        2009,
                        1994
                    ],
                    "first_publish_year": 1986,
                    "number_of_pages_median": 356,
                    "lccn": [
                        "85071786",
                        "2009022903",
                        "94019469"
                    ],
                    "publish_place": [
                        "Pittsburgh",
                        "Pittsburgh, Pa",
                        "University Park"
                    ],
                    "oclc": [
                        "30623716",
                        "326552727",
                        "12237982"
                    ],
                    "lcc": [
                        "F--0159.00000000.P63 T65 1986",
                        "F--0159.00000000.P64 T65 2009",
                        "F--0159.00000000.P63 T65 1994"
                    ],
                    "ddc": [
                        "917.48860443",
                        "974.886"
                    ],
                    "isbn": [
                        "9780822954347",
                        "0822954346",
                        "9780271004150",
                        "0822943719",
                        "0271004150",
                        "9780822943716"
                    ],
                    "last_modified_i": 1629312132,
                    "ebook_count_i": 2,
                    "ia": [
                        "pittsburghurbanp00toke",
                        "pittsburghurbanp0000toke"
                    ],
                    "public_scan_b": false,
                    "ia_collection_s": "americanuniversity-ol;johnshopkins-ol;fav-lwilson405;gwulibraries-ol;fav-kuzedey;winterthurlibrary-ol;china;inlibrary;dartmouthlibrary-ol;printdisabled;universityofcoloradoboulder-ol;fav-ssledge5;wilsoncollege-ol;wrlc-ol;fav-cactus20;udc-ol;binghamton-ol;internetarchivebooks;the-claremont-colleges-ol",
                    "lending_edition_s": "OL2557994M",
                    "lending_identifier_s": "pittsburghurbanp0000toke",
                    "printdisabled_s": "OL2557994M;OL1094976M",
                    "cover_edition_key": "OL1094976M",
                    "cover_i": 4728661,
                    "publisher": [
                        "University of Pittsburgh Press",
                        "Pennsylvania State University Press"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL581389A"
                    ],
                    "author_name": [
                        "Franklin Toker"
                    ],
                    "place": [
                        "Pittsburgh (Pa.)",
                        "Pennsylvania",
                        "Pittsburgh",
                        "Pittsburgh Region (Pa.)"
                    ],
                    "subject": [
                        "Tours",
                        "Buildings, structures",
                        "Architecture",
                        "Description and travel",
                        "Historic buildings",
                        "Guidebooks",
                        "Neighborhoods",
                        "Neighborhood",
                        "Pittsburgh (pa.)",
                        "Guides",
                        "Circuits touristiques",
                        "Constructions",
                        "Buildings",
                        "Accessible book",
                        "Protected DAISY"
                    ],
                    "id_goodreads": [
                        "136342",
                        "6930668",
                        "3923584"
                    ],
                    "id_librarything": [
                        "1047445",
                        "8988160"
                    ],
                    "ia_box_id": [
                        "IA1954119",
                        "IA1152813"
                    ],
                    "publisher_facet": [
                        "Pennsylvania State University Press",
                        "University of Pittsburgh Press"
                    ],
                    "place_key": [
                        "pennsylvania",
                        "pittsburgh",
                        "pittsburgh_(pa.)",
                        "pittsburgh_region_(pa.)"
                    ],
                    "subject_facet": [
                        "Accessible book",
                        "Architecture",
                        "Buildings",
                        "Buildings, structures",
                        "Circuits touristiques",
                        "Constructions",
                        "Description and travel",
                        "Guidebooks",
                        "Guides",
                        "Historic buildings",
                        "Neighborhood",
                        "Neighborhoods",
                        "Pittsburgh (pa.)",
                        "Protected DAISY",
                        "Tours"
                    ],
                    "_version_": 1715090982023725059,
                    "place_facet": [
                        "Pennsylvania",
                        "Pittsburgh",
                        "Pittsburgh (Pa.)",
                        "Pittsburgh Region (Pa.)"
                    ],
                    "lcc_sort": "F--0159.00000000.P63 T65 1986",
                    "author_facet": [
                        "OL581389A Franklin Toker"
                    ],
                    "subject_key": [
                        "accessible_book",
                        "architecture",
                        "buildings",
                        "buildings_structures",
                        "circuits_touristiques",
                        "constructions",
                        "description_and_travel",
                        "guidebooks",
                        "guides",
                        "historic_buildings",
                        "neighborhood",
                        "neighborhoods",
                        "pittsburgh_(pa.)",
                        "protected_daisy",
                        "tours"
                    ],
                    "ddc_sort": "917.48860443"
                },
                {
                    "key": "/works/OL519281W",
                    "type": "work",
                    "seed": [
                        "/books/OL5919759M",
                        "/books/OL5200926M",
                        "/books/OL7723416M",
                        "/books/OL54992M",
                        "/works/OL519281W",
                        "/subjects/history",
                        "/subjects/pictorial_works",
              [...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GYbAdYfXeiBRGd0BeQ4DmjkN4gZ2wzcO&location=Pittsburgh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Mar 2022 17:37:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Pittsburgh"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pittsburgh","adminArea5Type":"City","adminArea4":"Allegheny
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039780","unknownInput":"","type":"s","latLng":{"lat":40.442169,"lng":-79.994945},"displayLatLng":{"lat":40.442169,"lng":-79.994945},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GYbAdYfXeiBRGd0BeQ4DmjkN4gZ2wzcO&type=map&size=225,160&locations=40.442169,-79.994945|marker-sm-50318A-1&scalebar=true&zoom=12&rand=187187369"}]}]}'
  recorded_at: Mon, 07 Mar 2022 17:37:49 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f0d6fd9e6bdce12fed2609a6ebd409b5&exclude=minutely,alerts&lat=40.442169&lon=-79.994945&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.4422,"lon":-79.9949,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1646674669,"sunrise":1646653474,"sunset":1646695062,"temp":59.09,"feels_like":59.02,"pressure":1005,"humidity":92,"dew_point":56.77,"uvi":0.61,"clouds":100,"visibility":8047,"wind_speed":1.99,"wind_deg":325,"wind_gust":8.01,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"},{"id":701,"main":"Mist","description":"mist","icon":"50d"}],"rain":{"1h":3.79}},"hourly":[{"dt":1646672400,"temp":59.04,"feels_like":59.02,"pressure":1005,"humidity":93,"dew_point":57.02,"uvi":0.63,"clouds":100,"visibility":4354,"wind_speed":9.95,"wind_deg":234,"wind_gust":28.41,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":1,"rain":{"1h":3.56}},{"dt":1646676000,"temp":59.09,"feels_like":59.02,"pressure":1005,"humidity":92,"dew_point":56.77,"uvi":0.61,"clouds":100,"visibility":5298,"wind_speed":9.08,"wind_deg":240,"wind_gust":29.64,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"pop":1,"rain":{"1h":4.21}},{"dt":1646679600,"temp":59.16,"feels_like":59.05,"pressure":1004,"humidity":91,"dew_point":56.53,"uvi":1.13,"clouds":100,"visibility":10000,"wind_speed":13.09,"wind_[...]
