---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&published_in=2010-2022&q=Pittsburgh&subject=travel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 4.249 TT 0 4.252"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 10014,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL3484237W",
                    "type": "work",
                    "seed": [
                        "/books/OL2557994M",
                        "/books/OL1094976M",
                        "/books/OL8117299M",
                        "/books/OL23686817M",
                        "/books/OL24094159M",
                        "/books/OL23908843M",
                        "/books/OL23397965M",
                        "/works/OL3484237W",
                        "/subjects/tours",
                        "/subjects/buildings_structures",
                        "/subjects/architecture",
                        "/subjects/description_and_travel",
                        "/subjects/historic_buildings",
                        "/subjects/guidebooks",
                        "/subjects/neighborhoods",
                        "/subjects/neighborhood",
                        "/subjects/pittsburgh_(pa.)",
                        "/subjects/guides",
                        "/subjects/circuits_touristiques",
                        "/subjects/constructions",
                        "/subjects/buildings",
                        "/subjects/place:pittsburgh_(pa.)",
                        "/subjects/place:pennsylvania",
                        "/subjects/place:pittsburgh",
                        "/subjects/place:pittsburgh_region_(pa.)",
                        "/authors/OL581389A"
                    ],
                    "title": "Pittsburgh",
                    "title_suggest": "Pittsburgh",
                    "subtitle": "a new portrait",
                    "has_fulltext": true,
                    "edition_count": 7,
                    "edition_key": [
                        "OL2557994M",
                        "OL1094976M",
                        "OL8117299M",
                        "OL23686817M",
                        "OL24094159M",
                        "OL23908843M",
                        "OL23397965M"
                    ],
                    "publish_date": [
                        "1986",
                        "May 1995",
                        "2009",
                        "1994"
                    ],
                    "publish_year": [
                        1986,
                        1995,
                        2009,
                        1994
                    ],
                    "first_publish_year": 1986,
                    "number_of_pages_median": 356,
                    "lccn": [
                        "85071786",
                        "2009022903",
                        "94019469"
                    ],
                    "publish_place": [
                        "Pittsburgh",
                        "Pittsburgh, Pa",
                        "University Park"
                    ],
                    "oclc": [
                        "30623716",
                        "326552727",
                        "12237982"
                    ],
                    "lcc": [
                        "F--0159.00000000.P63 T65 1986",
                        "F--0159.00000000.P64 T65 2009",
                        "F--0159.00000000.P63 T65 1994"
                    ],
                    "ddc": [
                        "917.48860443",
                        "974.886"
                    ],
                    "isbn": [
                        "9780822954347",
                        "0822954346",
                        "9780271004150",
                        "0822943719",
                        "0271004150",
                        "9780822943716"
                    ],
                    "last_modified_i": 1629312132,
                    "ebook_count_i": 2,
                    "ia": [
                        "pittsburghurbanp00toke",
                        "pittsburghurbanp0000toke"
                    ],
                    "public_scan_b": false,
                    "ia_collection_s": "americanuniversity-ol;johnshopkins-ol;fav-lwilson405;gwulibraries-ol;fav-kuzedey;winterthurlibrary-ol;china;inlibrary;dartmouthlibrary-ol;printdisabled;universityofcoloradoboulder-ol;fav-ssledge5;wilsoncollege-ol;wrlc-ol;fav-cactus20;udc-ol;binghamton-ol;internetarchivebooks;the-claremont-colleges-ol",
                    "lending_edition_s": "OL2557994M",
                    "lending_identifier_s": "pittsburghurbanp0000toke",
                    "printdisabled_s": "OL2557994M;OL1094976M",
                    "cover_edition_key": "OL1094976M",
                    "cover_i": 4728661,
                    "publisher": [
                        "University of Pittsburgh Press",
                        "Pennsylvania State University Press"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL581389A"
                    ],
                    "author_name": [
                        "Franklin Toker"
                    ],
                    "place": [
                        "Pittsburgh (Pa.)",
                        "Pennsylvania",
                        "Pittsburgh",
                        "Pittsburgh Region (Pa.)"
                    ],
                    "subject": [
                        "Tours",
                        "Buildings, structures",
                        "Architecture",
                        "Description and travel",
                        "Historic buildings",
                        "Guidebooks",
                        "Neighborhoods",
                        "Neighborhood",
                        "Pittsburgh (pa.)",
                        "Guides",
                        "Circuits touristiques",
                        "Constructions",
                        "Buildings",
                        "Accessible book",
                        "Protected DAISY"
                    ],
                    "id_goodreads": [
                        "136342",
                        "6930668",
                        "3923584"
                    ],
                    "id_librarything": [
                        "1047445",
                        "8988160"
                    ],
                    "ia_box_id": [
                        "IA1954119",
                        "IA1152813"
                    ],
                    "publisher_facet": [
                        "Pennsylvania State University Press",
                        "University of Pittsburgh Press"
                    ],
                    "place_key": [
                        "pennsylvania",
                        "pittsburgh",
                        "pittsburgh_(pa.)",
                        "pittsburgh_region_(pa.)"
                    ],
                    "subject_facet": [
                        "Accessible book",
                        "Architecture",
                        "Buildings",
                        "Buildings, structures",
                        "Circuits touristiques",
                        "Constructions",
                        "Description and travel",
                        "Guidebooks",
                        "Guides",
                        "Historic buildings",
                        "Neighborhood",
                        "Neighborhoods",
                        "Pittsburgh (pa.)",
                        "Protected DAISY",
                        "Tours"
                    ],
                    "_version_": 1715090982023725059,
                    "place_facet": [
                        "Pennsylvania",
                        "Pittsburgh",
                        "Pittsburgh (Pa.)",
                        "Pittsburgh Region (Pa.)"
                    ],
                    "lcc_sort": "F--0159.00000000.P63 T65 1986",
                    "author_facet": [
                        "OL581389A Franklin Toker"
                    ],
                    "subject_key": [
                        "accessible_book",
                        "architecture",
                        "buildings",
                        "buildings_structures",
                        "circuits_touristiques",
                        "constructions",
                        "description_and_travel",
                        "guidebooks",
                        "guides",
                        "historic_buildings",
                        "neighborhood",
                        "neighborhoods",
                        "pittsburgh_(pa.)",
                        "protected_daisy",
                        "tours"
                    ],
                    "ddc_sort": "917.48860443"
                },
                {
                    "key": "/works/OL519281W",
                    "type": "work",
                    "seed": [
                        "/books/OL5919759M",
                        "/books/OL5200926M",
                        "/books/OL7723416M",
                        "/books/OL54992M",
                        "/works/OL519281W",
                        "/subjects/history",
                        "/subjects/pictorial_works",
              [...]
