---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=Cleveland,OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 08 Mar 2022 18:37:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Cleveland,OH"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Cleveland","adminArea5Type":"City","adminArea4":"Cuyahoga
        County","adminArea4Type":"County","adminArea3":"OH","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041215","unknownInput":"","type":"s","latLng":{"lat":41.505546,"lng":-81.6915},"displayLatLng":{"lat":41.505546,"lng":-81.6915},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=41.505546,-81.6915|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1415876342"}]}]}'
  recorded_at: Tue, 08 Mar 2022 18:37:48 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY&exclude=minutely,alerts&lat=41.505546&lon=-81.6915&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.5055,"lon":-81.6915,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1646764668,"sunrise":1646740219,"sunset":1646781901,"temp":36.82,"feels_like":31.37,"pressure":1022,"humidity":58,"dew_point":24.42,"uvi":2.51,"clouds":100,"visibility":10000,"wind_speed":6.91,"wind_deg":250,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1646762400,"temp":36.25,"feels_like":32.13,"pressure":1022,"humidity":59,"dew_point":24.31,"uvi":3.13,"clouds":93,"visibility":10000,"wind_speed":4.92,"wind_deg":312,"wind_gust":7.16,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646766000,"temp":36.82,"feels_like":32.59,"pressure":1022,"humidity":58,"dew_point":24.42,"uvi":2.51,"clouds":100,"visibility":10000,"wind_speed":5.19,"wind_deg":335,"wind_gust":6.96,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646769600,"temp":36.46,"feels_like":31.98,"pressure":1022,"humidity":59,"dew_point":24.49,"uvi":1.67,"clouds":97,"visibility":10000,"wind_speed":5.41,"wind_deg":1,"wind_gust":6.29,"weather":[{"id":80[...]
