---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GYbAdYfXeiBRGd0BeQ4DmjkN4gZ2wzcO&location=Cleveland,OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 06 Mar 2022 22:27:43 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Cleveland,OH"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Cleveland","adminArea5Type":"City","adminArea4":"Cuyahoga
        County","adminArea4Type":"County","adminArea3":"OH","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041215","unknownInput":"","type":"s","latLng":{"lat":41.505546,"lng":-81.6915},"displayLatLng":{"lat":41.505546,"lng":-81.6915},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GYbAdYfXeiBRGd0BeQ4DmjkN4gZ2wzcO&type=map&size=225,160&locations=41.505546,-81.6915|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1750017777"}]}]}'
  recorded_at: Sun, 06 Mar 2022 22:27:43 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f0d6fd9e6bdce12fed2609a6ebd409b5&exclude=minutely,alerts&lat=41.505546&lon=-81.6915&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.5055,"lon":-81.6915,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1646605663,"sunrise":1646567615,"sunset":1646608964,"temp":53.15,"feels_like":50.9,"pressure":1013,"humidity":58,"dew_point":38.79,"uvi":0.33,"clouds":0,"visibility":10000,"wind_speed":25.32,"wind_deg":260,"wind_gust":31.07,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1646604000,"temp":53.15,"feels_like":50.9,"pressure":1013,"humidity":58,"dew_point":38.79,"uvi":0.33,"clouds":0,"visibility":10000,"wind_speed":13.65,"wind_deg":267,"wind_gust":32.66,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.05},{"dt":1646607600,"temp":52.03,"feels_like":49.77,"pressure":1014,"humidity":60,"dew_point":38.61,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":12.39,"wind_deg":268,"wind_gust":28.88,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.01},{"dt":1646611200,"temp":49.89,"feels_like":45.86,"pressure":1015,"humidity":62,"dew_point":37.42,"uvi":0,"clouds":27,"visibility":10000,"wind_speed":10.11,"wind_deg":275,"wind_gust":23.94,"weather":[{"id":80[...]
