---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&published_in=2010-2022&q=new%20york%20city,ny&subject=travel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.272 TT 0 0.273"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 2166,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8050663W",
                    "type": "work",
                    "seed": [
                        "/books/OL7437582M",
                        "/works/OL8050663W",
                        "/authors/OL2677397A"
                    ],
                    "title": "New York Walkbook",
                    "title_suggest": "New York Walkbook",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL7437582M"
                    ],
                    "publish_date": [
                        "November 7, 1984"
                    ],
                    "publish_year": [
                        1984
                    ],
                    "first_publish_year": 1984,
                    "number_of_pages_median": 393,
                    "oclc": [
                        "9576005"
                    ],
                    "isbn": [
                        "9780385155847",
                        "0385155840"
                    ],
                    "last_modified_i": 1303989312,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Anchor"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2677397A"
                    ],
                    "author_name": [
                        "Ny-Nj Trail Conference"
                    ],
                    "id_goodreads": [
                        "4786481"
                    ],
                    "id_librarything": [
                        "1172781"
                    ],
                    "publisher_facet": [
                        "Anchor"
                    ],
                    "_version_": 1715096435564740613,
                    "author_facet": [
                        "OL2677397A Ny-Nj Trail Conference"
                    ]
                },
                {
                    "key": "/works/OL10910826M",
                    "type": "work",
                    "seed": [
                        "/books/OL10910826M",
                        "/works/OL10910826M"
                    ],
                    "title": "New York City, NY (City Wall Maps)",
                    "title_suggest": "New York City, NY (City Wall Maps)",
       [...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GYbAdYfXeiBRGd0BeQ4DmjkN4gZ2wzcO&location=new%20york%20city,ny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Mar 2022 18:34:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"new
        york city,ny"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        York","adminArea5Type":"City","adminArea4":"New York County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040974","unknownInput":"","type":"s","latLng":{"lat":40.713054,"lng":-74.007228},"displayLatLng":{"lat":40.713054,"lng":-74.007228},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GYbAdYfXeiBRGd0BeQ4DmjkN4gZ2wzcO&type=map&size=225,160&locations=40.713054,-74.007228|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1906485384"}]}]}'
  recorded_at: Mon, 07 Mar 2022 18:34:48 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f0d6fd9e6bdce12fed2609a6ebd409b5&exclude=minutely,alerts&lat=40.713054&lon=-74.007228&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7131,"lon":-74.0072,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1646678088,"sunrise":1646652048,"sunset":1646693614,"temp":70.29,"feels_like":69.6,"pressure":1005,"humidity":55,"dew_point":53.38,"uvi":2.28,"clouds":75,"visibility":10000,"wind_speed":23.02,"wind_deg":220,"wind_gust":34.52,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1646676000,"temp":69.85,"feels_like":69.17,"pressure":1005,"humidity":56,"dew_point":53.47,"uvi":2.96,"clouds":80,"visibility":10000,"wind_speed":15.99,"wind_deg":222,"wind_gust":33.78,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1646679600,"temp":70.29,"feels_like":69.6,"pressure":1005,"humidity":55,"dew_point":53.38,"uvi":2.28,"clouds":75,"visibility":10000,"wind_speed":17.94,"wind_deg":221,"wind_gust":34.76,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1646683200,"temp":70.07,"feels_like":69.4,"pressure":1005,"humidity":56,"dew_point":53.67,"uvi":1.31,"clouds":80,"visibility":10000,"wind_speed":18.7,"wind_deg":222,"wind_gust":35.39,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1646686800,"temp":69.75,"feels_like":69.15,"pressure":1004,"humidity":58,"dew_point":54.32,"uvi":0.53,"clouds":85,"visibility":10000,"wind_speed":18.63,"wind_deg":220,"wind_gust":36.71,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.04},{"dt":1646690400,"temp":69.49,"feels_like":68.97,"pressure":1003,"humidity":60,"dew_point":55.02,"uvi":0.04,"clouds":90,"visibility":10000,"wind_speed":20.71,"wind_deg":225,"wind_gust":46.17,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.26,"rain":{"1h":0.15}},{"dt":1646694000,"temp":66.4,"feels_like":66.07,"pressure":1002,"humidity":71,"dew_point":56.71,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":20.07,"wind_deg":235,"wind_gust":38.81,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.74,"rain":{"1h":0.69}},{"dt":1646697600,"temp":62.62,"feels_like":62.76,"pressure":1000,"humidity":89,"dew_point":58.98,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":16.75,"wind_deg":219,"wind_gust":3[...]
