---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY&exclude=current,daily,minutely,alerts&lat=39.951061&lon=-75.16562&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.9511,"lon":-75.1656,"timezone":"America/New_York","timezone_offset":-18000,"hourly":[{"dt":1646845200,"temp":37.56,"feels_like":31.73,"pressure":1012,"humidity":92,"dew_point":35.46,"uvi":0.4,"clouds":100,"visibility":2444,"wind_speed":7.81,"wind_deg":77,"wind_gust":19.06,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":1,"rain":{"1h":1.2}},{"dt":1646848800,"temp":37.33,"feels_like":31.6,"pressure":1012,"humidity":93,"dew_point":35.49,"uvi":0.36,"clouds":100,"visibility":2318,"wind_speed":7.54,"wind_deg":73,"wind_gust":17.4,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":1,"rain":{"1h":0.15}},{"dt":1646852400,"temp":37.26,"feels_like":31.33,"pressure":1012,"humidity":93,"dew_point":35.42,"uvi":0.18,"clouds":100,"visibility":3392,"wind_speed":7.83,"wind_deg":58,"wind_gust":16.13[...]
