---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=SzHfgEcBUyOX80kXtsL5mTUjG6skofqSCk3DbW-oiLg&orientation=landscape&per_page=1&query=Portland,OR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=SzHfgEcBUyOX80kXtsL5mTUjG6skofqSCk3DbW-oiLg&orientation=landscape&page=2248&per_page=1&query=Portland%2COR>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=SzHfgEcBUyOX80kXtsL5mTUjG6skofqSCk3DbW-oiLg&orientation=landscape&page=2&per_page=1&query=Portland%2COR>;
        rel="next"
      X-Total:
      - '2248'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"f53b825e33140d294374fbae450f6e3f"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2248,"total_pages":2248,"results":[{"id":"q2YG_E1mlBU","created_at":"2020-09-17T12:03:32-04:00","updated_at":"2022-03-06T03:17:10-05:00","promoted_at":null,"width":4240,"height":2832,"color":"#26260c","blur_hash":"L57Kk-~ptS?b_2?b?b?b?b-;-;-;","description":"Mossy","alt_description":"white
        suv parked on forest during daytime","urls":{"raw":"https://images.unsplash.com/photo-1600356604613-2deafe7c437e?ixid=MnwzMDc4Mzh8MHwxfHNlYXJjaHwxfHxQb3J0bGFuZCUyQ09SfGVufDB8MHx8fDE2NDY1OTgzNTk\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1600356604613-2deafe7c437e?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwzMDc4Mzh8MHwxfHNlYXJjaHwxfHxQb3J0bGFuZCUyQ09SfGVufDB8MHx8fDE2NDY1OTgzNTk\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1600356604613-2deafe7c437e?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc4Mzh8MHwxfHNlYXJjaHwxfHxQb3J0bGFuZCUyQ09SfGVufDB8MHx8fDE2NDY1OTgzNTk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1600356604613-2deafe7c437e?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc4Mzh8MHwxfHNlYXJjaHwxfHxQb3J0bGFuZCUyQ09SfGVufDB8MHx8fDE2NDY1OTgzNTk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1600356604613-2deafe7c437e?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc4Mzh8MHwxfHNlYXJjaHwxfHxQb3J0bGFuZCUyQ09SfGVufDB8MHx8fDE2NDY1OTgzNTk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1600356604613-2deafe7c437e"},"links":{"self":"https://api.unsplash.com/photos/q2YG_E1mlBU","html":"https://unsplash.com/photos/q2YG_E1mlBU","download":"https://unsplash.com/photos/q2YG_E1mlBU/download?ixid=MnwzMDc4Mzh8MHwxfHNlYXJjaHwxfHxQb3J0bGFuZCUyQ09SfGVufDB8MHx8fDE2NDY1OTgzNTk","download_location":"https://api.unsplash.com/photos/q2YG_E1mlBU/download?ixid=MnwzMDc4Mzh8MHwxfHNlYXJjaHwxfHxQb3J0bGFuZCUyQ09SfGVufDB8MHx8fDE2NDY1OTgzNTk"},"categories":[],"likes":10,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"dg4S8j5TzmE","updated_at":"2022-03-06T14:31:37-05:00","username":"karsten116","name":"Karsten
        Winegeart","first_name":"Karsten","last_name":"Winegeart","twitter_username":"karsten116","portfolio_url":null,"bio":"IG
        - @karsten116","location":"Austin Texas","links":{"self":"https://api.unsplash.com/users/karsten116","html":"https://unsplash.com/@karsten116","photos":"https://api.unsplash.com/users/karsten116/photos","likes":"https://api.unsplash.com/users/karsten116/likes","portfolio":"https://api.unsplash.com/users/karsten116/portfolio","following":"https://api.unsplash.com/users/karsten116/following","followers":"https://api.unsplash.com/users/karsten116/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1583427783052-3da8ceab5579image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1583427783052-3da8ceab5579image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1583427783052-3da8ceab5579image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"karsten116","total_collections":1,"total_likes":422,"total_photos":589,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"karsten116","portfolio_url":null,"twitter_username":"karsten116","paypal_email":null}},"tags":[{"type":"search","title":"portland"},{"type":"search","title":"or"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Sun, 06 Mar 2022 20:25:59 GMT
recorded_with: VCR 6.0.0
